
<div class="container">
    <p>comments works!</p>
    <br />

    <!-- <app-comment-form></app-comment-form> -->

    <div *ngIf="commentsList">
        <h4>Comments for: {{commentsList.comments[0].name}}</h4>
        <table *ngFor="let c of commentsList.comments.slice().reverse()">
            <tr>
                <td>
                    {{c.user}} - {{c.rating}}/10
                </td>
            </tr>
            <tr>
                <td>
                    {{c.comment}}
                </td>
            </tr>
            <br>
        </table>
    </div>

</div>