.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 85%;
    align-self: center;
  }



.button-container {
    display: flex;
    flex-direction: column;
  }
  
  .button-container > * {
    width: 25%;
    align-self: left;
  }


  .span-container {
    display: inline-flex;
  }
  
  .span-container > * {
    width: 50%;
    align-self: center;
  }