<div class="container">
  <div class="mat-app-background basic-container">
    <div class="mat-elevation-z8">
      <br><br>
      <div class="form-container">
          <h4>Add Comment</h4>
      </div>
      <br>
      

    <form mat-form (ngSubmit)="onSubmit()" #commentForm="ngForm">

        <div class="form-container">
          <span class="span-container">
            <mat-form-field>
                <input matInput placeholder="Username" id="user" name="user" [(ngModel)]="model.user">
            </mat-form-field>
            <p style="text-align: center"> - </p>
            <mat-form-field>
                <mat-select placeholder="Select rating" id="rating" name="rating" [(ngModel)]="model.rating">
                  <mat-option *ngFor="let r of ratings" [value]="r">{{r}}</mat-option>
                </mat-select>
            </mat-form-field>
          </span>


          <!-- input: {{model.user}}  -->
          
          <!-- <label for="user">User</label>
          <input type="text" class="form-control" id="user"
                required
                [(ngModel)]="model.user" name="user">
                input: {{model.user}} -->
          <!-- <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Name is required
          </div> -->
          <!-- <div [hidden]="user.valid || name.pristine"
              class="alert alert-danger">
            User is required
          </div> -->
        </div>
    
        <!-- input: {{model.rating}} -->
        <br />
        <div class="form-container">

          <mat-form-field>
            <textarea matInput placeholder="Comment" name="comment" [(ngModel)]="model.comment"></textarea>
          </mat-form-field>

          <!-- <label for="comment">Comment</label>
          <input type="text" class="form-control" id="comment"
                required
                [(ngModel)]="model.comment" name="comment"> -->
          <!-- <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Comment is required
          </div>
          <br> -->
          <!-- <div [hidden]="user.valid || name.pristine"
              class="alert alert-danger">
            User is required
          </div> -->
          
        </div>
        <!-- input: {{model.comment}} -->
        <br>
        <br>
        <!-- <button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid">Submit</button> -->
        <div class="form-container">
          <span>
              <button mat-button type="submit" class="btn btn-success" >Submit</button>
              <button mat-button type="reset" class="btn btn-default" (click)="commentForm.reset()">Reset</button>
          </span>
        </div>
        <br><br>

    </form>
    </div>
  </div>
  <div *ngIf="message">
    {{message}}
  </div>
</div>

<br>
<div class="container">
  <app-comments [data]="refreshCounter"></app-comments>
</div>