<!--<mat-action-list>
    <p>Loading of html on angular succeeded</p>
    <br/>
    <div *ngIf = "gamesList">
        <p>Successfully loaded data from node server to angular server</p>
        <p>{{gamesList.timestamp}}</p>
        <ul>
            <li *ngFor="let g of gamesList.games">
                <span>{{g}}</span>
            </li>
        </ul>
    </div>
</mat-action-list>-->


<div class="container">
  <div class="mat-app-background basic-container">
    <div class="mat-elevation-z8">
      <div class="info-container">
        <br><br>
        <h4>Boardgames List</h4>
        <br />
        <mat-action-list>
            <button mat-list-item *ngFor="let g of gameBriefList, let i = index" [routerLink]="'../game/'+g.ID">
                {{g.ID}}. {{g.Name}} {{g.Year}} {{g.Rank}} {{g['Users rated']}}
            </button>
        </mat-action-list>
        <br /><br />
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
